:root {
    --primary-color: #007bff;
    --text-color: #333;
    --background-color: #f8f9fa;
    --header-footer-color: #343a40;
    --link-color: var(--primary-color);
    --border-radius: 10px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header, .site-footer {
    background: var(--header-footer-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav ul li {
    margin: 0 15px;
}

.main-nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.main-nav ul li a:hover {
    color: var(--primary-color);
}

.about-section, .work-section {
    padding: 60px 0;
    overflow: hidden;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color from parent, making it consistent with the rest of your design */
    display: block; /* Makes the link behave like a block, allowing it to contain block elements */
}

.project {
    background: #fff;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    cursor: pointer;
}

.project-link:hover .project {
    background-color: #f0f0f0; /* Change to whatever color you like */
}


a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive adjustments as needed */
